<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context.xsd
                       http://www.springframework.org/schema/aop
                       http://www.springframework.org/schema/aop/spring-aop.xsd
                       http://www.springframework.org/schema/tx
                       http://www.springframework.org/schema/tx/spring-tx.xsd
                       http://www.springframework.org/schema/task
                       http://www.springframework.org/schema/task/spring-task.xsd
                       http://www.springframework.org/schema/cache
                       http://www.springframework.org/schema/cache/spring-cache.xsd">

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
		<property name="basenames">
			<list>
				<value>i18n/messages</value>
			</list>
		</property>
	</bean>

	<bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<array>
				<value>classpath:props/app.properties</value>
				<value>file:/data/data/conf/hehe-api-${env}-${api}.properties</value>
				<value>file:/data/data/conf/mongo-${env}.properties</value>
				<value>file:/data/data/conf/redis.properties</value>
			</array>
		</property>
	</bean>

	<context:property-placeholder file-encoding="UTF-8" properties-ref="properties" />
	
	<!--<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
		<!--<property name="corePoolSize" value="2" />-->
		<!--<property name="maxPoolSize" value="200" />-->
	<!--</bean>-->

	<bean class="com.xjd.hehe.utl.AppContext">
		<constructor-arg ref="properties" />
	</bean>

	<bean class="com.xjd.nhs.core.ServerConfig" />
	
	<bean class="org.perf4j.log4j.aop.TimingAspect" />

	<context:component-scan base-package="com.xjd.hehe.api.cmpt, com.xjd.hehe.api.ctrl, com.xjd.hehe.biz.service" />

	<context:annotation-config />

	<aop:aspectj-autoproxy />

	<bean id="kryoSerializer" class="com.xjd.hehe.cache.KryoSerializer">
		<property name="classIdMap">
			<map>
				<entry key="com.xjd.hehe.dal.mongo.ent.ApiEntity" value="20"/>
				<entry key="com.xjd.hehe.dal.mongo.ent.CommentEntity" value="21"/>
				<entry key="com.xjd.hehe.dal.mongo.ent.ImgEntity" value="22"/>
				<entry key="com.xjd.hehe.dal.mongo.ent.JokeEntity" value="23"/>
				<entry key="com.xjd.hehe.dal.mongo.ent.RefGoodUserEntity" value="24"/>
				<entry key="com.xjd.hehe.dal.mongo.ent.ReqLogEntity" value="25"/>
				<entry key="com.xjd.hehe.dal.mongo.ent.TokenEntity" value="26"/>
				<entry key="com.xjd.hehe.dal.mongo.ent.TopicEntity" value="27"/>
				<entry key="com.xjd.hehe.dal.mongo.ent.UserEntity" value="28"/>
			</map>
		</property>
	</bean>

	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg type="java.lang.String" value="${redis.host}"/>
		<constructor-arg type="int" value="${redis.port}"/>
	</bean>

	<bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
		<property name="cacheManagers">
			<list>
				<bean class="org.springframework.cache.support.SimpleCacheManager">
					<property name="caches">
						<list>
							<bean class="com.xjd.hehe.cache.JedisCache">
								<property name="name" value="key_map"/>
								<property name="expireSeconds" value="86400" /><!-- 24h -->
								<property name="kryoSerializer" ref="kryoSerializer"/>
								<property name="jedisPool" ref="jedisPool"/>
							</bean>
							<bean class="com.xjd.hehe.cache.JedisCache">
								<property name="name" value="entity"/>
								<property name="expireSeconds" value="21600" /><!-- 6h -->
								<property name="kryoSerializer" ref="kryoSerializer"/>
								<property name="jedisPool" ref="jedisPool"/>
							</bean>
							<bean class="com.xjd.hehe.cache.JedisCache">
								<property name="name" value="tmp"/>
								<property name="expireSeconds" value="60" /><!-- 1m -->
								<property name="kryoSerializer" ref="kryoSerializer"/>
								<property name="jedisPool" ref="jedisPool"/>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
		<property name="fallbackToNoOpCache" value="false"/>
	</bean>

	<cache:annotation-driven proxy-target-class="true" />

</beans>
