<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context.xsd
                       http://www.springframework.org/schema/aop
                       http://www.springframework.org/schema/aop/spring-aop.xsd
                       http://www.springframework.org/schema/tx
                       http://www.springframework.org/schema/tx/spring-tx.xsd
                       http://www.springframework.org/schema/task
                       http://www.springframework.org/schema/task/spring-task.xsd
                       http://www.springframework.org/schema/cache
                       http://www.springframework.org/schema/cache/spring-cache.xsd">

	<bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<array>
				<value>file:/data/data/conf/hehe-spider.properties</value>
				<value>file:/data/data/conf/mongo.properties</value>
			</array>
		</property>
	</bean>

	<context:property-placeholder file-encoding="UTF-8" properties-ref="properties" />

	<!--<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
		<!--<property name="corePoolSize" value="2" />-->
		<!--<property name="maxPoolSize" value="200" />-->
	<!--</bean>-->

	<bean class="com.xjd.hehe.utl.AppContext">
		<constructor-arg ref="properties" />
	</bean>

	<context:component-scan base-package="com.xjd.hehe.spider" />

	<context:annotation-config />

</beans>
